* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h3 {
    color: #1abc9c;
}

p {
    text-align: center;
    color: #1abc9c;
    font-size: 2em;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 3em;
}

#feetInput {
font-size: 0/8em;
}
h2{
    color: #1abc9c;
  
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1rem;
    color: #34495e;
}

input[type="number"], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
    background-color: #74e7d014;
}

input[type="number"]:focus, select:focus {
    border-color: #3498db;
    outline: none;
}


#categoryButtons, #subcategoryButtons {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
}

.category-btn, .subcategory-btn {
    flex: 1; /* buttons take equal width */
    margin: 0 10px; /* Space around buttons */
    padding: 10px;
    color: rgba(0, 0, 0, 0.763);
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #74e7d048;
}

.subcategory-btn.active,
.category-btn.active {
    background: linear-gradient(270deg, rgba(0, 255, 255, 0.497), rgba(0, 128, 0, 0.491), rgba(255, 255, 0, 0.491));
    background-size: 400% 400%;
    color: white;
    animation: gradientShift 5s ease infinite; 
}

.subcategory-btn:hover,
.category-btn:hover {
    background-color: cyan;
    color: white;
}
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    input[type="number"], select {
        font-size: 0.9rem;
    }

    .pump-link {
        font-size: 1rem;
    }
}


/* Result Section */
#results {
    margin-top: 20px;
}

#bestPumpResults, #optionResults {
    background-color: #74e7d014;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
}

.pump-link {
    display: block;
    font-size: 1.2rem;
    color: rgb(4, 210, 4);
    text-decoration: none;
    font-weight: bold;
}

.pump-link:hover {
    color: green;
}

.pump-link:hover + .tooltip {
    display: block;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: #ff0000;
}
#selectPumpBtn {
    display: block;
    width: 250px;
    position: fixed;
    bottom: 30%; 
    right: 20%; 
    padding: 15px;
    background: linear-gradient(270deg, cyan, green, yellow);
    background-size: 1000% 1000%; /* control the speed and overlap */
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 1em;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    animation: gradientShift 5s ease infinite;
    border: none;
}

#selectPumpBtn:hover {
    animation: gradientShift 20s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
 
/* Responsiveness */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    input[type="number"], select {
        font-size: 0.9rem;
    }

    .pump-link {
        font-size: 1rem;
    }
}

.tooltip {
    position: absolute;
    background-color: cyan;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    pointer-events: none;
    z-index: 1000;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #c0bcbc;
    border-radius: 4px;
}

/* Length conversion */
.conversion-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: #74e7d014;
    padding: 15px 10px;
    border-radius: 5px;
    gap: 20px; /* Space between sections */
}

.conversion-section h4 {
    color: #0097a7;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10px;
}

.conversion-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conversion-input label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.conversion-input input {
    width: 100px;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
}
.conversion-input input::placeholder {
    font-size: 0.7rem; 
    color: #888; 
}
